

<div class="pageWidth container">
  <form [formGroup]="userLoginForm" (ngSubmit)="onSubmit()" class="mt-5 pageForm">
    <div class="form-group ">

      <input type="email" formControlName="email" class="form-control" id="email" [ngClass]="{'is-invalid': submited && fieldValidation.email.errors}"
             placeholder="Entrer votre adraisse Email"/>
      <div *ngIf="submited && fieldValidation.email.errors" class="invalid-feedback">
        <div *ngIf="fieldValidation.email.errors.required" >L'adresse Email est Obligatoire !</div>
        <div *ngIf="fieldValidation.email.errors.email">L'adresse mail doit être valide !</div>
      </div>
    </div>
    <div class="form-group">

      <input type="password" formControlName="password" class="form-control" id="password" [ngClass]="{'is-invalid': submited && fieldValidation.password.errors}"
             placeholder="Entrer un Mot de passe"/>
      <div *ngIf="submited && fieldValidation.password.errors" class="invalid-feedback">
        <div *ngIf="fieldValidation.password.errors.required">Le Mot de passe est Obligatoire !</div>
        <div *ngIf="fieldValidation.password.errors.minlength" >Le nombre de Caractère doit être égal ou supérieur à 6 !</div>
      </div>
    </div>


    <button type="submit" [disabled]=""  class="btn btn-primary">Connexion</button>
    <a [routerLink]="['/registerUser']" class="text-decoration-none text-info ml-5">Création de Compte </a>
  </form>

</div>
